.small-text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
}

.jumbotron,
.question__list .list-group-item,
.section-answers .list-group-item,
.section-description .list-group-item,
.button-next {
  background-color: #303030;
  border: none;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #555;
}

.main .btn.btn-outline-secondary.active {
  background-color: #008966;
  border: none;
}

.btn.btn-outline-secondary.active:hover {
  background-color: #00bc8c;
  border: none;
}
