.small-text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
}

.jumbotron,
.question__list .list-group-item,
.section-answers .list-group-item,
.section-description .list-group-item,
.button-next {
  background-color: #303030;
}

.logo {
  background-image: url(./logo.svg);
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header .list-group-item {
  background-color: #008966;
}

.question__image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
}

.question__list {
  width: calc(100% - 240px);
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #555;
}

.list-question .list-group-item {
  border-bottom: none;
}

.list-answers .list-group-item {
  cursor: pointer;
}

.list-answers .list-group-item:hover {
  background-color: #454545;
  transition: 0.5s;
}

.list-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.1s;
  background-color: #555;
}

.list-point.error {
  background-color: #d62c1a;
}

.list-point.right {
  background-color: #00bc8c;
}

.description__image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
}

.description__list .list-group-item {
  padding: 0.25rem;
}

.list-group-item .rhap_container {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  outline-style: none;
}

.list-group-item .rhap_container button,
.rhap_progress-container,
.rhap_volume-bar-area {
  outline-style: none;
}

.rhap_container .rhap_progress-container {
  margin-right: 0;
}

.rhap_container .rhap_progress-bar {
  height: 3px;
}

.rhap_controls-section {
  margin-left: 8px;
  font-size: 0.84rem;
  color: #a8a8a8;
}

.rhap_container .rhap_time {
  margin: 0 10px;
  min-width: 25px;
  color: #a8a8a8;
  font-size: 0.84rem;
}

.rhap_container .rhap_volume-bar {
  height: 2px;
  background: #b1b1b1;
}
